<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Shop Suite">
    <test name="Shop Tests">
        <classes>
            <class name="com.instamart.testscript.SmartphonesTest"/>
            <!-- <class name="com.instamart.testscript.LaptopTest"/> -->
        </classes>
    </test>
</suite>